
.container{
    height: auto;
    padding-bottom: 6vh;
    background: var(--backImage);
    background-blend-mode: multiply;
}



.locationContainer{
    padding: 0.5vw 2vw;
    background-color:#0c3483;;
}

.location{
    margin:0;
    font-size: 1.5;
    color: azure;
}


.gallery{
    height: 67vh;
    border: solid rgba(167,175,199,1) 10px;
}

.featuresContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    padding: 2vw;
    background-color: transparent;
}

@media only screen and  (max-width: 992px){
    .gallery{
        height: 40vh;
        border: solid #a7afc7 10px
    }
    .featuresContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.descriptionContainer{
    height: auto;
    padding: 2vw;
    padding-bottom: 0;

}

.description{
    color: var(--color);
}


.feature{
    justify-self: center;
    margin: 0;
    color: var(--color);
    font-size: 16px;
    padding: 1vw;
}

.trueIcon{
    font-size: 16px;
    color:green;

}

.falseIcon{
    font-size: 20px;
    color:crimson;
}

.featureIcon{
    font-size: 20px;
    color:var(--color);
}

.featuresTitle{
    margin: 0;
    padding: 1vw 2vw;
    border-bottom: double #2a5298;
    color:var(--color);
}


.calendarContainer{
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
    background-blend-mode: normal, multiply;
    border-radius: 10px;
    width: 90vw;
    padding-bottom: 2vw;
    margin: auto;
    margin-bottom: 2vw;
    margin-top: 1vw;
    box-shadow: rgba(107, 140, 206, 0.4) -5px 5px, rgba(107, 140, 206, 0.3) -10px 10px, rgba(107, 140, 206, 0.2) -15px 15px, rgba(107, 140, 206, 0.1) -20px 20px, rgba(107, 140, 206, 0.05) -25px 25px;
}

.calendarContainer:hover{
    transform: scale(1.01);
}
















