.container{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-auto-rows: auto;
    background-color:transparent;
}

.recomendations{
    color: var(--color);
    margin: 1vw;
    padding-left: 1vw;
    margin-bottom: 0;
}

@media screen and (max-width: 590px){
   .container{
    padding-bottom:4vw
   } 
}

